@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

.RadPanelBar_UBLDefault
{
	background: #fff;

}

.RadPanelBar_UBLDefault .rpRootGroup
{

}

.RadPanelBar_UBLDefault .rpText
{
	color: #fff !important;
	font-family: 'aspirademi', sans-serif;
	/* font-weight:700; */
	margin-top: 5px;
    font-size: 15px;
	background-color:#84888f;
	border:none;
}

.RadPanelBar_UBLDefault a.rpLink,
.RadPanelBar_UBLDefault div.rpHeaderTemplate,
.RadPanelBar_UBLDefault .rpTemplate
{
	color: Navy !important;
	font-family: 'aspiraregular', sans-serif;
	font-weight:700
	font-size: 15px;
	background-color:Transparent;
	border:none;
}

.RadPanelBar_UBLDefault div.rpHeaderTemplate,
.RadPanelBar_UBLDefault a.rpLink
{

	/* background-image: url('PanelBar/top-title-img.png'); */


}

.RadPanelBar_UBLDefault .rpOut
{
	/* background-image: url('PanelBar/top-title-img.png'); */
	border:none !important;
	background: #8b9099;
}

.RadPanelBar_UBLDefault a.rpFocused,
.RadPanelBar_UBLDefault a.rpExpanded,
.RadPanelBar_UBLDefault a.rpSelected,
.RadPanelBar_UBLDefault div.rpFocused,
.RadPanelBar_UBLDefault div.rpExpanded,
.RadPanelBar_UBLDefault div.rpSelected,
.RadPanelBar_UBLDefault a.rpSelected:hover
{
	/* background-image: url('PanelBar/top-title-img.png'); */
	background: #84888f;
	border:none;
}

/* <disabled items> */
.RadPanelBar_UBLDefault a.rpDisabled,
.RadPanelBar_UBLDefault div.rpDisabled,
.RadPanelBar_UBLDefault a.rpDisabled:hover
{
	color: #bbb;
}
/* </disabled items> */

/* <subitems> */
.RadPanelBar_UBLDefault .rpGroup
{
	background-color: #f1f2f2;
}

.RadPanelBar_UBLDefault .rpGroup a.rpLink,
.RadPanelBar_UBLDefault .rpGroup div.rpHeaderTemplate,
.RadPanelBar_UBLDefault .rpGroup .rpTemplate
{
	color: #000 !important;
	font-family: 'aspiraregular', sans-serif !important;
	font-size:8pt !important;
	font-weight:normal !important;
	background-image: none;
	background-color: transparent;
	border:none;
}

.RadPanelBar_UBLDefault .rpGroup a.rpLink:hover
{
	color: #000;
}

.RadPanelBar_UBLDefault .rpGroup a.rpLink,
.RadPanelBar_UBLDefault .rpGroup a.rpLink .rpOut
{		
	background-color: transparent;
	background-image: url('PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
}

/* <subitems (disabled)> */
.RadPanelBar_UBLDefault ul.rpGroup .rpDisabled,
.RadPanelBar_UBLDefault .rpGroup a.rpDisabled:hover,
.RadPanelBar_UBLDefault ul.rpGroup .rpDisabled .rpOut
{
	background-image: none;
}

.RadPanelBar_UBLDefault ul.rpGroup .rpDisabled,
.RadPanelBar_UBLDefault .rpGroup a.rpDisabled:hover
{
	color: #bbb;
	background-color: #fff;
}
/* <subitems (disabled)> */

/* </subitems> */

/* <background positioning> */
.RadPanelBar_UBLDefault a.rpFocused,
.RadPanelBar_UBLDefault div.rpFocused,
.RadPanelBar_UBLDefault a.rpLink:hover,
.RadPanelBar_UBLDefault a.rpExpanded:hover
{

}

.RadPanelBar_UBLDefault .rpItem 
{

	border-bottom:none !important;
}

.RadPanelBar_UBLDefault a.rpLink,
.RadPanelBar_UBLDefault div.rpHeaderTemplate,
.RadPanelBar_UBLDefault a.rpExpanded,
.RadPanelBar_UBLDefault div.rpExpanded,
.RadPanelBar_UBLDefault .rpItem a.rpLinkExpandHovered
{
	background-position: 0 0;
}

.RadPanelBar_UBLDefault a.rpSelected,
.RadPanelBar_UBLDefault div.rpSelected,
.RadPanelBar_UBLDefault a.rpSelected:hover
{

}

.RadPanelBar_UBLDefault .rpFirst a.rpLink,
.RadPanelBar_UBLDefault .rpFirst div.rpHeaderTemplate,
.RadPanelBar_UBLDefault li.rpFirst .rpExpanded
{

}

.RadPanelBar_UBLDefault li.rpFirst .rpFocused,
.RadPanelBar_UBLDefault .rpFirst a.rpLink:hover

}

.RadPanelBar_UBLDefault li.rpFirst .rpSelected,
.RadPanelBar_UBLDefault .rpFirst a.rpSelected:hover
{

}

/* <root items (disabled)> */
.RadPanelBar_UBLDefault a.rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_UBLDefault a.rpDisabled,
.RadPanelBar_UBLDefault div.rpDisabled,
.RadPanelBar_UBLDefault a.rpDisabled:hover,
.RadPanelBar_UBLDefault a.rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
/* <expand arrows> */
.RadPanelBar_UBLDefault .rpExpandable span.rpExpandHandle,
.RadPanelBar_UBLDefault .rpExpanded span.rpExpandHandle
{
	background-color: #e2ebf4;
	background-image: url('PanelBar/Expandable.png');
	background-repeat: no-repeat;
	margin-right:10px;
	margin-top:4px;
	border-radius: 5px;
}

.RadPanelBar_UBLDefault_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_UBLDefault .rpExpandable span.rpExpandHandle,
.RadPanelBar_UBLDefault a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -5px; }
.RadPanelBar_UBLDefault a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_UBLDefault a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -5px; }
.RadPanelBar_UBLDefault .rpExpanded span.rpExpandHandle,
.RadPanelBar_UBLDefault a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -181px; }
.RadPanelBar_UBLDefault a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_UBLDefault a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -181px; }

.RadPanelBar_UBLDefault div.rpExpandable .rpExpandHandleHovered { background-position: 0 -5px; }
.RadPanelBar_UBLDefault div.rpExpanded .rpExpandHandleHovered { background-position: 0 -181px; }

/*      </expand arrows> */

.RadPanelBar_UBLDefault .rpGroup a.rpLink,
.RadPanelBar_UBLDefault .rpGroup div.rpHeaderTemplate,
.RadPanelBar_UBLDefault .rpGroup a.rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_UBLDefault .rpGroup a.rpLink:hover,
.RadPanelBar_UBLDefault ul.rpGroup .rpFocused { background-position: 100% -22px; }
.RadPanelBar_UBLDefault .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar_UBLDefault .rpGroup a.rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_UBLDefault ul.rpGroup .rpSelected,
.RadPanelBar_UBLDefault .rpGroup a.rpSelected:hover { background-position: 100% -222px; background-color: transparent; }
.RadPanelBar_UBLDefault .rpGroup a.rpSelected .rpOut,
.RadPanelBar_UBLDefault .rpGroup a.rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_UBLDefault .rpGroup a.rpExpandable .rpExpandHandle,
.RadPanelBar_UBLDefault .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandle { background-position: 0 -342px; }
.RadPanelBar_UBLDefault .rpGroup a.rpExpandable:hover .rpExpandHandle,
.RadPanelBar_UBLDefault .rpGroup a.rpExpandable:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -342px; }
.RadPanelBar_UBLDefault .rpGroup a.rpExpanded .rpExpandHandle,
.RadPanelBar_UBLDefault .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandle { background-position: 0 -481px; }
.RadPanelBar_UBLDefault .rpGroup a.rpExpanded:hover .rpExpandHandle,
.RadPanelBar_UBLDefault .rpGroup a.rpExpanded:hover .rpNavigation .rpExpandHandleHovered { background-position: 100% -481px; }

.RadPanelBar_UBLDefault .rpGroup div.rpExpandable .rpExpandHandleHovered { background-position: 0 -342px; }
.RadPanelBar_UBLDefault .rpGroup div.rpExpanded .rpExpandHandleHovered { background-position: 0 -481px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */

/* PanelBar base css */

.RadPanelBar
{
	width: 250px;
	text-align: left;
}

.RadPanelBar_rtl
{
	text-align: right;
}

.RadPanelBar .rpRootGroup
{
	border-width: 1px;
	border-style: solid;
}

.RadPanelBar .rpRootGroup,
.RadPanelBar .rpGroup,
.RadPanelBar .rpItem
{
	margin: 0;
	padding: 0;
	list-style-position:outside;
	list-style: none;
}

.RadPanelBar .rpSlide
{
    position: static;
    float: none;
    height: auto;
	overflow:hidden;
	display:none;
	zoom: 1;
}

.RadPanelBar .rpItem
{
	float: none;
	display: block;
	overflow: hidden;
	position: static;
}
* html .RadPanelBar .rpItem { display: inline; }
* html .RadPanelBar .rpSeparator { display: block; }
* html .RadPanelBar .rpGroup .rpItem { display: block; }

.RadPanelBar .rpItem:after,
.RadPanelBar .rpText:after,
.RadPanelBar .rpTemplate:after
{
    content: ""; 
    display: block; 
    height: 0; 
    line-height: 0;
    font-size: 0;
    clear: both; 
    visibility: hidden;
}

.RadPanelBar .rpLink
{
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
	background-repeat: repeat-x;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	zoom: 1;
}

.RadPanelBar .rpLink:focus
{
	outline: 0 none;
}

.RadPanelBar .rpLink,
.RadPanelBar .rpOut,
.RadPanelBar .rpText
{
	display: block;
}

*+html .RadPanelBar .rpItem { display: inline; }
*+html .RadPanelBar .rpGroup .rpItem { display: block; }
*+html .RadPanelBar .rpSeparator { display: block; }

.RadPanelBar .rpHeaderTemplate,
.RadPanelBar .rpOut
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.RadPanelBar .rpHeaderTemplate
{
    line-height: 25px;
}
* html .RadPanelBar .rpHeaderTemplate { height: 25px; }

.RadPanelBar .rpFocused .rpOut,
.RadPanelBar a.rpLink:hover .rpOut,
.RadPanelBar .rpSelected .rpOut,
.RadPanelBar a.rpSelected:hover .rpOut
{
	border-bottom-width: 0;
	padding-bottom: 1px;
}

.RadPanelBar a.rpDisabled:hover .rpOut
{
	padding-bottom: 0;
	border-bottom-width: 1px;
}

.RadPanelBar .rpImage
{
	float: left;
	border: 0;
	vertical-align: middle;
	padding: 4px 3px 3px;
}

.RadPanelBar_rtl .rpImage
{
	float: right;
}

* html .RadPanelBar .rpImage { padding-bottom: 4px; }

.RadPanelBar .rpText
{
	padding: 0 10px;
}

/* <sub items> */
.RadPanelBar .rpGroup
{
	overflow: auto;
	overflow-x: hidden;
}

.RadPanelBar .rpGroup .rpLink,
.RadPanelBar .rpGroup .rpTemplate
{
	background-color: transparent;
	
	border-bottom: 0;
	
	font-size: 12px;
	
	line-height: 22px;
}


.RadPanelBar .rpGroup a.rpLink:hover
{
	border-bottom: 0;
}

.RadPanelBar .rpGroup .rpLink .rpOut,
.RadPanelBar .rpGroup .rpExpanded .rpOut,
.RadPanelBar .rpGroup .rpSelected .rpOut,
.RadPanelBar .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar .rpGroup a.rpExpanded:hover .rpOut,
.RadPanelBar .rpGroup a.rpSelected:hover .rpOut
{
	padding-bottom: 0;
}

.RadPanelBar .rpGroup a.rpDisabled:hover .rpOut
{
	border-bottom: 0;
}

.RadPanelBar .rpGroup .rpOut
{
	border-bottom: 0;
	margin-right: 3px;
}

.RadPanelBar .rpGroup .rpImage
{
	padding: 3px 3px 3px 9px;
}
/* </sub items> */

/* <level indentation> */
.RadPanelBar .rpLevel2 .rpTemplate,
.RadPanelBar .rpLevel2 .rpOut
{
	padding-left: 15px;
}

.RadPanelBar .rpLevel3 .rpTemplate,
.RadPanelBar .rpLevel3 .rpOut
{
	padding-left: 30px;
}

/*      <rtl> */
.RadPanelBar_rtl .rpLevel2 .rpTemplate,
.RadPanelBar_rtl .rpLevel2 .rpOut
{
	padding-left: 0;
	padding-right: 15px;
}

.RadPanelBar_rtl .rpLevel3 .rpTemplate,
.RadPanelBar_rtl .rpLevel3 .rpOut
{
	padding-left: 0;
	padding-right: 30px;
}
/*      </rtl> */
/* </level indentation> */

.RadPanelBar .rpLevel1 .rpFirst { padding-top: 1px; zoom: 1; }
.RadPanelBar .rpLevel2 .rpItem { padding-top: 0; }

.RadPanelBar .rpLevel1 .rpLast { padding-bottom: 1px; }
.RadPanelBar .rpLevel2 .rpItem { padding-bottom: 0; }

.RadPanelBar .rpExpandable .rpExpandHandle,
.RadPanelBar .rpExpanded .rpExpandHandle
{
	display: block;
	float: right;
	height: 15px;
	width: 15px;
	margin: 5px 5px 0 0;
}

.RadPanelBar .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar .rpGroup .rpExpandable .rpExpandHandle
{
	margin: 4px 2px 0 0;
}

.RadPanelBar_rtl .rpExpandable .rpExpandHandle,
.RadPanelBar_rtl .rpExpanded .rpExpandHandle
{
	float: left;
	margin: 5px 0 0 5px;
}

.RadPanelBar_rtl .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_rtl .rpGroup .rpExpandable .rpExpandHandle
{
	margin: 4px 0 0 5px;
}

@media print {
    .RadPanelBar div.rpSlide,
    .RadPanelBar li.rpItem,
    .RadPanelBar a.rpLink
    {
        overflow: visible;
    }
    
    .RadPanelBar ul.rpGroup
    {
        overflow: visible !important;
    }
}

/* Common CSS */

.RadMenu
{
	white-space:nowrap;
	float:left;
	position:relative;
    z-index /*\**/: 7000\9; /* IE8 hasLayout fix */
}

.RadMenu .rmRootGroup
{
	margin:0;
	padding:0;
	position:relative;
	left:0;
	display: inline-block;
}

* html .RadMenu .rmRootGroup { float: left; }

.RadMenu:after,
.RadMenu .rmRootGroup:after
{
    content:""; 
    display:block;
    height:0;
    overflow: hidden;
    line-height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}

.RadMenu ul.rmVertical,
.RadMenu ul.rmHorizontal,
.RadMenu ul.rmRootScrollGroup,
.RadMenu_Context ul.rmHorizontal
{
	margin:0;
	padding:0;
	display:none;
	position:relative;
	left:0;
	float:left;
}

.rmSized ul.rmVertical
{
	width: 100%;
}

.rmSized ul.rmRootGroup
{
	float: none;
}

.rmSized .rmRootGroup .rmVertical
{
	width: auto;
}

.RadMenu .rmItem
{
	float:left;
	position:relative;
	list-style-image: none;
	list-style-position:outside;
	list-style:none;	
}

* html .RadMenu .rmItem
{
	display:inline;
}

.RadMenu .rmHorizontal .rmItem
{
	clear:none;
}

.RadMenu .rmVertical .rmItem
{
	clear:both;
}

.rmSized .rmVertical .rmItem
{
	width: 100%;
}

.rmSized .rmHorizontal .rmItem,
.rmSized .rmRootGroup .rmVertical .rmItem
{
	width: auto;
}

.RadMenu ul.rmActive,
.RadMenu ul.rmRootGroup
{
	display:block;
}

.RadMenu .rmSlide, 
.RadMenu_Context
{
	position:absolute;
	overflow:hidden;
	display:none;
	float:left;
}

* html .RadMenu .rmSlide, 
* html .RadMenu_Context
{
	height:1px;
}

.RadMenu_Context
{
	z-index:1000;
	overflow:visible;
}

.RadMenu .rmText
{
	display:block;
}

.RadMenu div.rmText /*templates*/
{
	white-space:normal;
	background: transparent;
}

.RadMenu a.rmLink
{
	cursor:default;
	display:block;
}

.rmScrollWrap
{
	position:absolute;
	float:left;
	overflow:hidden;
	left:0;
}

.RadMenu .rmLeftArrow,
.RadMenu .rmTopArrow,
.RadMenu .rmBottomArrow,
.RadMenu .rmRightArrow
{
	position:absolute;
	z-index:2000;
	text-indent:-1000em;
	font-size: 0;
	line-height: 0;
	outline: 0;
	overflow: hidden;
}

.RadMenu .rmLeftArrowDisabled,
.RadMenu .rmTopArrowDisabled,
.RadMenu .rmBottomArrowDisabled,
.RadMenu .rmRightArrowDisabled
{
	display:none;
	text-indent:-1000em;
	font-size: 0;
	line-height: 0;
}

.RadMenu .rmBottomArrow,
.RadMenu .rmBottomArrowDisabled
{
	margin-bottom: -1px;
}

.RadMenu .rmLeftImage
{
	border:0;
	float:left;
}

.RadMenu_rtl
{
	float:right;
	text-align: right;
}

.RadMenu_rtl ul.rmVertical
{
	float:right;
}

.RadMenu_rtl .rmItem
{
	float:right;	
}

.RadMenu_rtl .rmLeftImage,
.RadMenu_Context_rtl .rmLeftImage
{
	border:0;
	float:right;
}

.RadMenu_rtl .rmLeftArrow,
.RadMenu_rtl .rmTopArrow,
.RadMenu_rtl .rmBottomArrow,
.RadMenu_rtl .rmRightArrow,
.RadMenu_rtl .rmLeftArrowDisabled,
.RadMenu_rtl .rmTopArrowDisabled,
.RadMenu_rtl .rmBottomArrowDisabled,
.RadMenu_rtl .rmRightArrowDisabled
{
	text-indent:1000em !important;
}

.RadMenu .rmLink
{
	width:auto;
}

.RadMenu .rmSeparator,
.RadMenu .rmSeparator:after
{
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

.RadMenu div.rmRootGroup
{
    position: relative;
}
/* <base styles> */

.RadMenu .rmItem
{
	padding: 0;
}

.RadMenu .rmLink
{
	padding: 0 0 0 12px;
	outline: 0;
	float: left;
}

.RadMenu_rtl .rmLink
{
	padding: 0 12px 0 0;
    margin-left: 2px;
}

.RadMenu .rmText
{
	padding-bottom: 1px;
	float: left;
}

.RadMenu_rtl .rmText
{
    margin-left: -2px;
}

/* optimized for 16x16 */
.RadMenu .rmLeftImage
{
	margin: 4px 2px 0 -3px;
	padding-bottom: 4px;
}

.RadMenu_rtl .rmLeftImage
{
	margin: 4px -3px 0 2px;
	padding-bottom: 2px;
}

/* Image sprite placeholder size */
.RadMenu span.rmLeftImage
{
	width: 16px;
	height: 16px;
}

.RadMenu .rmVertical .rmLeftImage+.rmText
{
	padding: 0 8px 1px 24px;
}

.RadMenu .rmVertical .rmText
{
	padding: 0 24px 1px 0;
}

.RadMenu .rmHorizontal .rmText
{
	padding: 0 12px 1px 0;
}

.RadMenu_rtl .rmHorizontal .rmText
{
	padding: 0 0 1px 12px;
}

.RadMenu_rtl .rmVertical .rmText
{
	padding: 0 0 1px 24px;
}

.RadMenu .rmVertical .rmText,
.RadMenu .rmHorizontal .rmVertical .rmText
{
	display: block;
	float: none;
}

.RadMenu .rmVertical .rmLink,
.RadMenu .rmHorizontal .rmVertical .rmLink
{
	float: none;
}

* html .RadMenu .rmGroup .rmVertical .rmLink,
* html .RadMenu .rmGroup .rmHorizontal .rmLink
{
	float: left;
}

/* <Shadows and rounded corners */

.RadMenu .rmTopRight,
.RadMenu .rmBottomLeft,
.RadMenu .rmBottomRight,
.RadMenu .rmRoundedCorners ul.rmGroup,
.rmRoundedCorners ul.rmGroup,
.rmRoundedCorners ul.rmGroup ul.rmGroup,
.RadMenu .rmRoundedCorners .rmMultiColumn
{
	border: 0;
	background-position: 0 0;
}

.RadMenu .rmRoundedCorners .rmMultiColumn ul.rmMultiGroup
{
	background: none;
	margin: 0;
}

.RadMenu .rmRoundedCorners .rmGroupColumn
{
	height: 100%;
}

.RadMenu .rmRoundedCorners li.rmFirstGroupColumn
{
	background-color: transparent;
}

.RadMenu .rmTopFix,
.RadMenu .rmTopRight,
.RadMenu .rmBottomFix,
.RadMenu .rmBottomLeft,
.RadMenu .rmBottomRight
{
	position: absolute;
	width: 4px;
	height: 4px;
	list-style-type: none;
	list-style-position: outside;
	font-size: 0;
}

.RadMenu_rtl .rmTopRight,
.RadMenu_rtl .rmBottomRight
{
	width: 32px;
}

.RadMenu_rtl .rmTopShadowRight,
.RadMenu_rtl .rmBottomShadowRight
{
	width: 4px;
}

.RadMenu .rmTopShadowRight,
.RadMenu .rmBottomShadowLeft,
.RadMenu .rmBottomShadowRight
{
	background-repeat: no-repeat;
	background-color: transparent;
}

.rmRoundedCorners .rmTopShadowRight,
.rmRoundedCorners .rmBottomShadowLeft,
.rmRoundedCorners .rmBottomShadowRight
{
	width: 5px;
	height: 5px;
}

.RadMenu .rmTopRight
{
	background-position: 100% 0;
	top: 0;
	right: -4px;
	height: 100%;
}

.RadMenu .rmBottomLeft
{
	background-position: 0 100%;
	bottom: -4px;
	left: 0;
	width: 100%;
}

.RadMenu .rmBottomFix
{
	background-position: -1px 0;
	width: auto;
	bottom: -4px;
	left: 5px;
	right: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.RadMenu .rmTopFix
{
	background-position: -1px 0;
	width: auto;
	top: 0;
	left: 5px;
	right: 0;
	border-top-width: 1px;
	border-top-style: solid;
}

* html .RadMenu .rmTopFix,
* html .RadMenu .rmBottomFix,
* html .RadMenu .rmBottomShadowLeft
{
	width: 0;
}

.RadMenu .rmBottomRight
{
	background-position: 100% 100%;
	bottom: -4px;
	right: -4px;
	width: 8px;
}

.RadMenu .rmShadows li.rmBottomShadowLeft,
.RadMenu .rmShadows .rmBottomShadowRight,
.rmShadows .rmGroup li.rmBottomShadowLeft,
.rmShadows .rmGroup .rmBottomShadowRight
{
	background-image: url('WebResource.axd?d=pzlBupe1437sSZD_n1BvZVktVUS8P6ixl0oVZByIDnG60Ls9PHdEXSFnPWXVxs2UH8vbTAWsXAP54C-hzh3dZWFUbZyP-bGZvtLvdND19v0bqI6-DEtCjWLmDg8wxK4fjK9C9eXH-GHlgm5HDw1UKkg_O-Y1&t=634416743665473646');
}

.RadMenu .rmRoundedCorners li.rmBottomShadowLeft,
.RadMenu .rmRoundedCorners .rmBottomShadowRight,
.rmRoundedCorners .rmGroup li.rmBottomShadowLeft,
.rmRoundedCorners .rmGroup .rmBottomShadowRight
{
	background-image: url('WebResource.axd?d=tQFRzLx_ljy0AEpipSSebCLk3UKop7iRDLVH3np1yrU8NRTaRQ1e0kiA5F2XS4xU1jr2_JLUfEee_gRvqSdKTFJ1qazv-lFa3seWtekUGReol7ficGfETlEWQE_28KtFvBT83Cm3VJ89DvnL3wVoz8CYqzAsqWRdmUkg4A2&t=634416743665473646');
}

.RadMenu .rmShadows .rmTopShadowRight,
.rmShadows .rmGroup .rmTopShadowRight
{
	right: -5px;
	background-image: url('WebResource.axd?d=G9gFDWfkzUszYwwKlT9Bzi64aoXrhc61n4JB8JdrujMWw285kAHq51RxJA20xBZuXa-Bh61_ys21CrFZYOyuSxQhqtpV3yFG4uWS85JSP3KPjKhlNDB83cAr_ZlY58zD3omSDz6cjVLvNq1xQw0nxXpWNmY1&t=634416743665473646');
	background-position: 100% 0;
}

.RadMenu .rmBottomShadowLeft
{
	bottom: -5px;
	left: 1px;
	background-position: 0 100%;
}

.RadMenu .rmBottomShadowRight
{
	bottom: -5px;
	right: -5px;
	width: 4px;
	height: 5px;
}

.RadMenu .rmScrollWrapContainer .rmTopShadowRight
{
	right: -4px;
}

.RadMenu .rmScrollWrapContainer .rmBottomShadowRight
{
	bottom: -4px;
	right: -4px;
	width: 3px;
	height: 4px;
}

.RadMenu .rmScrollWrapContainer .rmBottomShadowLeft
{
	bottom: -4px;
}

.RadMenu .rmRoundedCorners .rmTopShadowRight,
.rmRoundedCorners .rmGroup .rmTopShadowRight
{
	right: -8px;
	background-image: url('WebResource.axd?d=jnaOmNOnMO_FKJzgZ4f-dlv8bDHz4Y0c_Sd3raV9LTEvvgYhEfmGddbrs4w-C2ovylQuePpYve0f-hDgwrTB4fETl21LQf6GNKFqf14WnYEQ6A-OnsVVQ9UK1mf83ExPXz6Wd7lAB0omqhs7oZjKO45R3y81&t=634416743665473646');
}

.RadMenu .rmRoundedCorners .rmBottomShadowLeft,
.rmRoundedCorners .rmGroup .rmBottomShadowLeft
{
	bottom: -8px;
}

.RadMenu .rmRoundedCorners .rmBottomShadowRight,
.rmRoundedCorners .rmGroup .rmBottomShadowRight
{
	bottom: -8px;
	right: -8px;
	width: 7px;
	height: 8px;
}

* html .RadMenu .rmRoundedCorners .rmBottomShadowRight,
* html .rmRoundedCorners .rmGroup .rmBottomShadowRight
{
	width: 11px;
	height: 8px;
	font-size: 0;
}

.RadMenu .rmAccessKey
{
	font-size: 10px;
	font-weight: normal;
	float: right;
	padding-right: 8px;
}

.RadMenu .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners .rmGroup .rmItem
{
	z-index: 1;
}

* html .RadMenu .rmRoundedCorners .rmGroup .rmText,
* html .RadMenu .rmShadows .rmGroup .rmText, 
* html .rmRoundedCorners .rmGroup .rmText,
* html .rmShadows .rmGroup .rmText { zoom: normal }

.RadMenu .rmRoundedCorners .rmSlide .rmScrollWrap,
.rmRoundedCorners .rmScrollWrapContainer .rmScrollWrap
{
	background-image: none;
}

.RadMenu .rmRoundedCorners .rmMultiGroup > .rmItem
{
	background-image: none;
}

.RadMenu .rmRoundedCorners .rmSlide,
.RadMenu .rmShadows .rmSlide,
.rmRoundedCorners .rmSlide,
.rmShadows .rmSlide,
div.rmRoundedCorners,
div.rmShadows
{
	padding: 0 8px 10px 0;
}

.RadMenu .rmRoundedCorners ul.rmGroup,
.rmRoundedCorners .rmGroup ul.rmGroup,
.rmRoundedCorners ul.rmGroup
{
	margin-top: 1px;
	padding: 1px;
}

.RadMenu .rmRoundedCorners ul.rmGroup .rmSlide,
.rmRoundedCorners ul.rmGroup .rmSlide
{
	margin-top: -5px;
}

.RadMenu_rtl .rmRoundedCorners ul.rmGroup .rmSlide,
.RadMenu_rtl.rmRoundedCorners ul.rmGroup .rmSlide
{
	margin-right: -5px;
}

.RadMenu .rmRoundedCorners .rmSlide .rmScrollWrap,
.rmRoundedCorners .rmSlide .rmScrollWrap
{
	border: 0;
}

.RadMenu .rmRoundedCorners .rmScrollWrap,
.RadMenu .rmShadows .rmScrollWrap,
.rmRoundedCorners .rmScrollWrap,
.rmShadows .rmScrollWrap
{
	position: relative;
}

.RadMenu .rmRoundedCorners .rmScrollWrapContainer,
.rmRoundedCorners .rmScrollWrapContainer
{
	padding: 4px 0 0 4px;
}

.RadMenu .rmScrollWrapContainer
{
	position: absolute;
}

.RadMenu .rmScrollWrapContainer .rmTopFix
{
	height: 100%;
}

* html .RadMenu .rmScrollWrapContainer .rmTopFix
{
	height: 5px;
}

.RadMenu .rmRoundedCorners ul.rmGroup,
.rmRoundedCorners .rmGroup ul.rmGroup,
.rmRoundedCorners ul.rmGroup
{
	padding: 4px 0 0 4px;
}

.RadMenu .rmScrollWrapContainer .rmGroup,
.rmScrollWrapContainer .rmGroup .rmGroup,
.rmScrollWrapContainer .rmGroup
{
	padding: 0;
}

/* </Shadows and rounded corners */

.RadMenu .rmRootGroup .rmItem .rmGroup
{
	padding-bottom: 1px;
}

.RadMenu .rmRoundedCorners .rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu .rmGroup .rmItem
{
	padding: 0;
}

.RadMenu .rmGroup .rmLink,
.RadMenu .rmSlide .rmGroup .rmTemplate
{
	padding: 0;
}

.RadMenu_rtl .rmGroup .rmLink,
.RadMenu_rtl .rmSlide .rmGroup .rmTemplate
{
	padding: 0;
}

.RadMenu .rmGroup .rmText
{
	padding: 0 54px 0 28px;
	margin: 0 0 0 4px;
}

.RadMenu_rtl .rmGroup .rmText
{
	padding: 0 28px 0 54px;
	margin: 0 4px 0 0;
}

.RadMenu .rmMultiColumn
{
	list-style: none;
	display: block;
   	position: relative;
	margin: 0;
	padding: 0;
	zoom: 1;
}

.RadMenu .rmMultiColumn .rmMultiGroup
{
	background: none;
	border: 0;
	float: left;
	display: block;
    position: static;
}

.RadMenu .rmMultiColumn .rmGroupColumn
{
	float: left;
}

.RadMenu_rtl .rmMultiColumn .rmGroupColumn  
{
	float: right;
}

*+html .RadMenu_rtl .rmMultiColumn .rmItem { float: left; }
* html .RadMenu_rtl .rmMultiColumn .rmItem { float: left; }

.RadMenu .rmSlide .rmVertical .rmLeftImage+.rmText,
.RadMenu_Context .rmGroup .rmLeftImage+.rmText
{
	padding: 0 54px 0 28px;
}

.RadMenu_rtl .rmSlide .rmVertical .rmLeftImage+.rmText,
.RadMenu_Context_rtl .rmGroup .rmLeftImage+.rmText
{
	padding: 0 28px 0 54px;
}

.RadMenu .rmSlide .rmHorizontal .rmText
{
	padding: 0 11px 0 10px;
}

.RadMenu .rmGroup .rmLeftImage
{
	margin: 4px 0 0 6px;
}

* html .RadMenu .rmGroup .rmLeftImage { margin-left: 4px; }
*+html .RadMenu .rmGroup .rmLeftImage { margin-left: 4px; }

* html .rmRoundedCorners .rmGroup .rmLeftImage { margin-left: 1px; }
*+html ul.rmRoundedCorners .rmGroup .rmLeftImage { margin-left: 2px; }

.RadMenu_rtl .rmGroup .rmLeftImage
{
	margin: 4px 6px 0 0;
}

* html .RadMenu .rmGroup .rmLeftImage { position: absolute; }
*+html .RadMenu .rmGroup .rmLeftImage { position: absolute; }

.RadMenu a.rmImageOnly img.rmLeftImage,
.RadMenu .rmRootGroup a.rmImageOnly
{
	padding: 0;
	margin: 0;
}

.RadMenu .rmRootGroup a.rmImageOnly span.rmText
{
	display: none;
}

* html .RadMenu .rmImageOnly .rmLeftImage { position: static; }
*+html .RadMenu .rmImageOnly .rmLeftImage { position: static; }

* html .RadMenu_rtl .rmGroup .rmLeftImage { right: 0; }
*+html .RadMenu_rtl .rmGroup .rmLeftImage { right: 0; }

*+html .RadMenu_Context_rtl ul.rmGroup { position: absolute; }
* html .RadMenu_Context_rtl ul.rmGroup { position: absolute; }

*+html .RadMenu_Context_rtl .rmGroup .rmItem { float: left; }
* html .RadMenu_Context_rtl .rmGroup .rmItem { float: left; }

/* <separators> */

.RadMenu .rmSeparator .rmText
{
	line-height: 0;
	font-size: 0;
	padding: 0;
	background-repeat: repeat-x;
	overflow: hidden;
}

.RadMenu .rmVertical .rmSeparator .rmText,
.RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
	height: auto;
	width: auto;
	padding-bottom: 2px;
}

*+html .RadMenu .rmSeparator .rmText,   /* IE7 separator height problem */
*+html .RadMenu .rmVertical .rmSeparator .rmText,
*+html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
	height: 2px;
	padding: 0;
}

* html .RadMenu .rmVertical .rmSeparator { height: 3px; }
* html .RadMenu .rmVertical .rmSeparator .rmText { height: auto; padding: 2px 0 0; }
* html .RadMenu .rmHorizontal .rmSeparator .rmText { padding: 0; }
* html .RadMenu .rmHorizontal .rmVertical .rmSeparator { height: 3px; }
* html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText { height: 2px; }

.RadMenu .rmRootGroup .rmSeparator .rmText
{
	margin: 1px 12px;
}

.RadMenu .rmRootGroup .rmVertical .rmSeparator .rmText,
.RadMenu_Context .rmVertical .rmSeparator .rmText
{
	margin: 1px 2px 1px 31px;
}

.RadMenu_rtl .rmRootGroup .rmVertical .rmSeparator .rmText,
.RadMenu_Context_rtl .rmVertical .rmSeparator .rmText
{
	margin: 1px 31px 1px 2px;
}

.RadMenu .rmHorizontal .rmSeparator .rmText,
.RadMenu .rmVertical .rmHorizontal .rmSeparator .rmText
{
	margin: 2px 0 0;
	height: 20px;
	width: 2px;
}

* html .RadMenu .rmHorizontal .rmVertical .rmSeparator .rmText
{
	zoom: 1;
}

/* </separators> */

/* <scroll arrows> */

.RadMenu .rmLeftArrow,
.RadMenu .rmRightArrow
{
	width: 10px;
	height: 24px;
}

.RadMenu .rmTopArrow,
.RadMenu .rmBottomArrow
{
	height: 10px;
	width: 100%;
}

/* </scroll arrows> */

/* </base styles> */
/* PanelBar base css */

.RadPanelBar
{
	width: 250px;
	text-align: left;
}

.RadPanelBar_rtl
{
	text-align: right;
}

.RadPanelBar .rpRootGroup
{
	border-width: 1px;
	border-style: solid;
}

.RadPanelBar .rpRootGroup,
.RadPanelBar .rpGroup,
.RadPanelBar .rpItem
{
	margin: 0;
	padding: 0;
	list-style-position:outside;
	list-style: none;
}

.RadPanelBar .rpSlide
{
    position: static;
    float: none;
    height: auto;
	overflow:hidden;
	display:none;
	zoom: 1;
}

.RadPanelBar .rpItem
{
	float: none;
	display: block;
	overflow: hidden;
	position: static;
}
* html .RadPanelBar .rpItem { display: inline; }
* html .RadPanelBar .rpSeparator { display: block; }
* html .RadPanelBar .rpGroup .rpItem { display: block; }

.RadPanelBar .rpItem:after,
.RadPanelBar .rpText:after,
.RadPanelBar .rpTemplate:after
{
    content: ""; 
    display: block; 
    height: 0; 
    line-height: 0;
    font-size: 0;
    clear: both; 
    visibility: hidden;
}

.RadPanelBar .rpLink
{
	cursor: pointer;
	text-decoration: none;
	overflow: hidden;
	background-repeat: repeat-x;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	zoom: 1;
}

.RadPanelBar .rpLink:focus
{
	outline: 0 none;
}

.RadPanelBar .rpLink,
.RadPanelBar .rpOut,
.RadPanelBar .rpText
{
	display: block;
}

*+html .RadPanelBar .rpItem { display: inline; }
*+html .RadPanelBar .rpGroup .rpItem { display: block; }
*+html .RadPanelBar .rpSeparator { display: block; }

.RadPanelBar .rpHeaderTemplate,
.RadPanelBar .rpOut
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.RadPanelBar .rpHeaderTemplate
{
    line-height: 25px;
}
* html .RadPanelBar .rpHeaderTemplate { height: 25px; }

.RadPanelBar .rpFocused .rpOut,
.RadPanelBar a.rpLink:hover .rpOut,
.RadPanelBar .rpSelected .rpOut,
.RadPanelBar a.rpSelected:hover .rpOut
{
	border-bottom-width: 0;
	padding-bottom: 1px;
}

.RadPanelBar a.rpDisabled:hover .rpOut
{
	padding-bottom: 0;
	border-bottom-width: 1px;
}

.RadPanelBar .rpImage
{
	float: left;
	border: 0;
	vertical-align: middle;
	padding: 4px 3px 3px;
}

.RadPanelBar_rtl .rpImage
{
	float: right;
}

* html .RadPanelBar .rpImage { padding-bottom: 4px; }

.RadPanelBar .rpText
{
	padding: 0 10px;
}

/* <sub items> */
.RadPanelBar .rpGroup
{
	overflow: auto;
	overflow-x: hidden;
}

.RadPanelBar .rpGroup .rpLink,
.RadPanelBar .rpGroup .rpTemplate
{
	background-color: transparent;
	
	border-bottom: 0;
	
	font-size: 12px;
	
	line-height: 22px;
}


.RadPanelBar .rpGroup a.rpLink:hover
{
	border-bottom: 0;
}

.RadPanelBar .rpGroup .rpLink .rpOut,
.RadPanelBar .rpGroup .rpExpanded .rpOut,
.RadPanelBar .rpGroup .rpSelected .rpOut,
.RadPanelBar .rpGroup a.rpLink:hover .rpOut,
.RadPanelBar .rpGroup a.rpExpanded:hover .rpOut,
.RadPanelBar .rpGroup a.rpSelected:hover .rpOut
{
	padding-bottom: 0;
}

.RadPanelBar .rpGroup a.rpDisabled:hover .rpOut
{
	border-bottom: 0;
}

.RadPanelBar .rpGroup .rpOut
{
	border-bottom: 0;
	margin-right: 3px;
}

.RadPanelBar .rpGroup .rpImage
{
	padding: 3px 3px 3px 9px;
}
/* </sub items> */

/* <level indentation> */
.RadPanelBar .rpLevel2 .rpTemplate,
.RadPanelBar .rpLevel2 .rpOut
{
	padding-left: 15px;
}

.RadPanelBar .rpLevel3 .rpTemplate,
.RadPanelBar .rpLevel3 .rpOut
{
	padding-left: 30px;
}

/*      <rtl> */
.RadPanelBar_rtl .rpLevel2 .rpTemplate,
.RadPanelBar_rtl .rpLevel2 .rpOut
{
	padding-left: 0;
	padding-right: 15px;
}

.RadPanelBar_rtl .rpLevel3 .rpTemplate,
.RadPanelBar_rtl .rpLevel3 .rpOut
{
	padding-left: 0;
	padding-right: 30px;
}
/*      </rtl> */
/* </level indentation> */

.RadPanelBar .rpLevel1 .rpFirst { padding-top: 1px; zoom: 1; }
.RadPanelBar .rpLevel2 .rpItem { padding-top: 0; }

.RadPanelBar .rpLevel1 .rpLast { padding-bottom: 1px; }
.RadPanelBar .rpLevel2 .rpItem { padding-bottom: 0; }

.RadPanelBar .rpExpandable .rpExpandHandle,
.RadPanelBar .rpExpanded .rpExpandHandle
{
	display: block;
	float: right;
	height: 15px;
	width: 15px;
	margin: 5px 5px 0 0;
}

.RadPanelBar .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar .rpGroup .rpExpandable .rpExpandHandle
{
	margin: 4px 2px 0 0;
}

.RadPanelBar_rtl .rpExpandable .rpExpandHandle,
.RadPanelBar_rtl .rpExpanded .rpExpandHandle
{
	float: left;
	margin: 5px 0 0 5px;
}

.RadPanelBar_rtl .rpGroup .rpExpanded .rpExpandHandle,
.RadPanelBar_rtl .rpGroup .rpExpandable .rpExpandHandle
{
	margin: 4px 0 0 5px;
}

/*btn style */
input[type="submit" i] {
	    padding: .5em 1em;
    background-color: #0078e7;
    color: #fff;
    border: 1px solid #999;
    border: transparent;
    text-decoration: none;
    border-radius: 6px;
}
input[type="submit" i]:hover {
    filter: alpha(opacity=90);
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
@media print {
    .RadPanelBar div.rpSlide,
    .RadPanelBar li.rpItem,
    .RadPanelBar a.rpLink
    {
        overflow: visible;
    }
    
    .RadPanelBar ul.rpGroup
    {
        overflow: visible !important;
    }
}
